body{
    background-color:lightgray;
}
.div1{
    border:2px solid black;
    height:320px;
    width:315px;
    background-color:black;
}
.div2{
    border:2px solid black;
    height:50px;
}
button{
    padding:10px;
    border:2px solid black;
    width:70px;
    margin:2px;
    background-color:white;
}
#button24{
    background-color:cadetblue;
}
.input1{
    height:43px;
    width:300px;
    margin:1px;
    text-align : right;
}
button:hover{
    transform:scale(80%);
}
#button1{
    font-weight:700;
}
